// This content must be include inside a .tophat-burger-container selector
// see _common.scss for an exemple

@import "./tools-color.scss";
@import "./vars.scss";

position:fixed;
top: 0;
right: 0;
width: 100vw;
height: 100vh;
display: block;
z-index: 100;
transform:translateX(100%);
transition: transform ease 0.5s;
overflow: hidden;
z-index: 8888890; // over the HPE widget

font-family: $ff;
font-size: $base-size;
@media screen and (max-width:980px){ font-size: $base-sizeM; }
@media screen and (max-width:640px){ font-size: $base-sizeS; }

.tophat-burger-content {
	position: absolute;
	top: 0;
	width: 80%;
	height: 100%;
	background: $panel-background;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
}

&[animation='right'] {
	transform:translateX(100%);
	.tophat-burger-content {
		right: 0;
	}
	.tophat-burger-header {
		text-align: left;
	}
}

&[animation='left'] {
	transform:translateX(-100%);
	.tophat-burger-content {
		left: 0;
	}
	.tophat-burger-header {
		text-align: right;
	}
}

&.active {
	transform:translateX(0);
}


.tophat-burger-header {
	background: $color-alt;
	padding: 1em 2em;
	margin-bottom: 1em;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	.svg-icon{
		position: relative;
		top: 0.15em;
		height: 1.3em;
		width: 1.3em;
		stroke-width: 4;
		stroke-linecap: round;
		stroke: $panel-background;
		transition: stroke 0.8s ease-out, transform 0.8s ease-in-out;

		path {
			backface-visibility: hidden;
			transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
		}

		transform: rotate(225deg);
		.h {
			opacity: 0;
		}
		.x {
			opacity: 1;
		}
		.t {
			transform: translate(0, 8px);
			transform: translateY(8px);
		}
		.b {
			transform: translate(0, -8px);
			transform: translateY(-8px);
		}
	}
}

.tophat-burger-body {
	flex-grow: 1;
	overflow: scroll;
}

.nav-dropdown {
	list-style: none;
	padding: 1em 2em;
	margin: 0;
	.burger-back,
	.burger-dropdown-trigger,
	.burger-subnav-main,
	.burger-subnav-item .fa-caret-down,
	.burger-item > .burger-link .fa-caret-down {
		display: none;
	}

	.burger-item {
		padding: 0;
		margin: 0 0 1em;
		font-size: 1.2em;
		a {
			text-decoration: none;
		}
	}
	.burger-subnav {
		padding: 0;
		margin: 1em 2em 1.5em;
		list-style: none;
	}
	.burger-subnav-item {
		padding: 0;
		margin: 0;
	}
}