// This content must be include inside a .tophat-burger-container selector
// see _common.scss for an exemple

@import "./tools-color.scss";
@import "./vars.scss";

pointer-events: none;
position:fixed;
top: 0;
right: 0;
left: 0;
bottom: 0;
display: block;
z-index: 100;
transform:translate(100%,0);
transition: transform ease 0.5s, opacity ease .5s;
overflow: hidden;
z-index: 8888890; // over the HPE widget

font-family: $ff;
font-size: $base-size;
@media screen and (max-width:980px){ font-size: $base-sizeM; }
@media screen and (max-width:640px){ font-size: $base-sizeS; }

.tophat-burger-content {
	position: absolute;
	top: 0;
	width: $burger-size;
	height: 100%;
	overflow: hidden;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	background: $burger-panel-background;
	padding: $burger-panel-vpad $burger-panel-hpad;
}

&[animation='right'] {
	transform:translate(100%,0);
	.tophat-burger-content {
		right: 0;
	}
	.tophat-burger-header .tophat-burger-close {
		left:$burger-header-hpad;
	}
}

&[animation='left'] {
	transform:translate(-100%,0);
	.tophat-burger-content {
		left: 0;
	}
	.tophat-burger-header .tophat-burger-close {
		right:$burger-header-hpad;
	}
}

&[animation='top'] {
	transform:translate(0,-100%);
	.tophat-burger-content {
		left: 0;
	}
	.tophat-burger-header .tophat-burger-close {
		left:$burger-header-hpad;
	}
}

&[animation='bottom'] {
	transform:translate(0,100%);
	.tophat-burger-content {
		left: 0;
	}
	.tophat-burger-header .tophat-burger-close {
		left:$burger-header-hpad;
	}
}
&[animation='fade'] {
	transform:translate(0,0);
	opacity: 0;
	.tophat-burger-content {
		left: 0;
	}
	.tophat-burger-header .tophat-burger-close {
		left:$burger-header-hpad;
	}
}

&.active {
	opacity: 1;
	transform:translate(0,0);
	pointer-events: all;
}


.tophat-burger-header {
	position: relative;
	z-index: 1;
	background: $burger-header-background;
	color: $burger-header-color;
	padding: $burger-header-vpad $burger-header-hpad;
	margin: 0;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	
	font-family:$burger-header-ff;
	font-size:$burger-header-fsz;
	font-weight:$burger-header-fw;
	letter-spacing:$burger-header-ls;
	
	.tophat-burger-close {
		position: absolute;
		top: 50%;
		transform:translateY(-50%);
		border: none;
		background: none;
		display: inline;
		width: auto;
		height: auto;
		color: inherit;
		cursor: pointer;
		padding: 0;
		&:hover {
			color: $burger-header-color-hover;
		}
		span {
			font-size: 1.5em;
		}
	}
}

.tophat-burger-body {
	position: relative;
	z-index: 2;
	margin: 0;
	padding: $burger-body-vpad $burger-body-hpad;
	flex-grow: 1;
	overflow: auto;
	background: $burger-body-background;
	
	.tophat-burger-close {
		position: absolute;
		top: ($burger-body-vpad / 2);
		left: ($burger-body-hpad / 2);
		transform:translate(-50%,-50%);
		border: none;
		background: none;
		display: inline;
		width: auto;
		height: auto;
		color: inherit;
		cursor: pointer;
		padding: 0;
		span {
			font-size: 1.5em;
		}
	}
	
	.tophat-burger-body-content {
		color: $burger-body-color;
		font-family:$burger-body-ff;
		font-size:$burger-body-fsz;
		font-weight:$burger-body-fw;
		letter-spacing:$burger-body-ls;
		a {
			color: inherit;
			&:hover {
				color: $burger-body-color-hover;
			}
		}
	}
	.tophat-burger-body-prepend {
		color: $burger-body-prepend-color;
		font-family:$burger-body-prepend-ff;
		font-size:$burger-body-prepend-fsz;
		font-weight:$burger-body-prepend-fw;
		letter-spacing:$burger-body-prepend-ls;
		a {
			color: inherit;
			&:hover {
				color: $burger-body-prepend-color-hover;
			}
		}
	}
	.tophat-burger-body-append {
		color: $burger-body-append-color;
		font-family:$burger-body-append-ff;
		font-size:$burger-body-append-fsz;
		font-weight:$burger-body-append-fw;
		letter-spacing:$burger-body-append-ls;
		a {
			color: inherit;
			&:hover {
				color: $burger-body-append-color-hover;
			}
		}
	}
}

.nav-dropdown {
	list-style: none;
	margin: 0;
	padding: 0;
	.burger-back,
	.burger-dropdown-trigger,
	.burger-subnav-main,
	.burger-subnav-item .fa-caret-down,
	.burger-item > .burger-link .fa-caret-down {
		display: none;
	}

	.burger-item {
		padding: 0;
		margin: 0 0 1em;
		a {
			text-decoration: none;
		}
	}
	.burger-subnav {
		padding: 0;
		margin: 1em 2em 1.5em;
		list-style: none;
	}
	.burger-subnav-item {
		padding: 0;
		margin: 0;
		font-size: 0.8em;
	}
}