$color:#222;
$color-alt:#ff614b;
$background:#fff;

$button-background:#ff614b;
$button-color:#fff;
$button-alt-background:#da5340;
$button-alt-color:#fff;

$logo-max-size : 200px;

body {
	background: #B1D5EB;
}

body:before {
	pointer-events: none;
	z-index: 100;
	content:"\2000";
	display: block;
	position: fixed;
	top: 0;
	left: 50%;
	width: 0;
	height: 100%;
	border-left: 1px dotted red;
}
body:after {
	pointer-events: none;
	z-index: 100;
	content:"\2000";
	display: block;
	position: fixed;
	top: 0;
	left: 40%;
	width: 20%;
	height: 100%;
	border-left: 1px dotted orange;
	border-right: 1px dotted orange;
}

.tophat-bar {
	position: relative;
	padding: 0;
	margin: 0 0 10em;
	display: flex;
	font-family: sans-serif;
	background:$background;
	color:$color;
	a {
		color:inherit;
	}
	&,& * {
		box-sizing: border-box;
	}
}
.tophat-bar-part {
	padding: 0;
	margin: 0;
	
	border: 1px solid violet;

	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;

	.tophat-bar-logo {
		position: relative;
		width: $logo-max-size;
		height: 100%;
		img {
			top: 0;
			left: 50%;
			max-width: 100%;
			max-height: $logo-max-size;
			position: absolute;
			transform:translateX(-50%);
		}
	}

	[data-tophat-parts*="middle"] & {
		flex: 1;
		background: yellow;
	}


	> * {
		order:1;
	}

	&[data-tophat-part-key="left"] {}
	&[data-tophat-part-key="middle"] {
		flex-wrap: nowrap;
		justify-content: center;
		border: 1px dashed red;
	}
	&[data-tophat-part-key="right"] {
		margin-left: auto;
		justify-content: flex-end;
		.tophat-bar-logo {
			order:999 !important;
		}
	}

	.nav-item {
		display: inline-block;
		@import "./nav-link.scss";
		@import "./nav-dropdown.scss";
	}
}

// centered logo will be handle by javasdcript => so they remain hidden at startup
.tophat-bar[data-tophat-logo="middle"] .tophat-bar-logo {
	display: none;
}