// This content must be include inside a .tophat-bar selector
// see _common.scss for an exemple

@import "./tools-color.scss";
@import "./vars.scss";

position: relative;
padding: 0;
margin: $margin-top 0 $margin-bottom;

@media screen and (max-width: 980px) {
	margin-top: $margin-top-mobile;
	margin-bottom: $margin-top-mobile;
}

font-family: $ff;
text-transform: $ttr;
background:$background;
color:$color;

a {
	color:inherit;
}
&,& * {
	box-sizing: border-box;
}

font-size: $base-size;
@media screen and (max-width:1200px){ font-size: $base-sizeL; }
@media screen and (max-width:980px){ font-size: $base-sizeM; }
@media screen and (max-width:640px){ font-size: $base-sizeS; }

display: none;
&.init {
	display: flex;
	@if($nav-height > 0) { height: $nav-height; }
	@if($nav-height-mobile > 0) { @media (max-width: 980px) { height: $nav-height-mobile; } }
}

.tophat-bar-part {
	padding: 0;
	margin: 0;

	display: flex;
	height: inherit;

	//flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	//position: relative;
	

	.tophat-bar-logo[logo-w="0"] {
		opacity: 0;
	}

	.tophat-bar-logo[screen="desktop"], .tophat-bar-logo[screen="mobile"] {
		display: block;
		z-index: 10;
		align-self:start;
		padding:0;
		margin:0 $nav-link-hspace;
		height: inherit;
		> span {
			position: relative;
			top: $logo-vpad;
			height: 1px;
			overflow: visible;
			img, svg {
				max-width: $logo-max-size;
				@if ($logo-max-vsize > 0) {
					max-height: $logo-max-vsize;
				}
				@else {
					max-height: $logo-max-size;	
				}
			}
			svg {
				// large value to force svg rendering as large as possible
				// but this SVG is constrain by max-width settings
				width: 800px; 
				height: auto;
			}
		}

	    @media screen and (max-width: 980px) {
			> span {
				top: $logo-vpad-mobile;
				img, svg {
					max-width: $logo-max-size-mobile;
					@if ($logo-max-vsize-mobile > 0) {
						max-height: $logo-max-vsize-mobile;
					}
					@else {
						max-height: $logo-max-size-mobile;	
					}
				}
			}
		}
	}

	@media screen and (max-width:980px){ .tophat-bar-logo[screen="desktop"] { display: none !important; } }
	@media screen and (min-width:981px){ .tophat-bar-logo[screen="mobile"] { display: none !important; } }

	> * {
		order:0;
	}

	&[data-tophat-align="left"] {}
	&[data-tophat-align="middle"] {
		flex-wrap: nowrap;
		justify-content: center;
	}
	&[data-tophat-align="right"] {
		margin-left: auto;
		justify-content: flex-end;
		.tophat-bar-logo {
			order:999 !important;
		}
	}

	.nav-item {
		@media screen and (max-width:980px){ &[screen='desktop'] { display: none !important; } }
		@media screen and (min-width:981px){ &[screen='mobile'] { display: none !important; } }
	}
	@import "./nav-link.scss";
	@import "./nav-dropdown.scss";
	@import "./nav-burger-button.scss";

	.tophat-burger {
		display: none;
		&.visible {
			display: inline-block;
		}
	}
}
&[data-tophat-burger-visibility="always"] .tophat-burger[screen="desktop"] { display: inline-block; }
&[data-tophat-burger-visibility="never"] .tophat-burger[screen="desktop"] { display: none !important; }
&[data-tophat-burger-mobile-visibility="always"] .tophat-burger[screen="mobile"] { display: inline-block; }
&[data-tophat-burger-mobile-visibility="never"] .tophat-burger[screen="mobile"] { display: none !important; }

&[data-tophat-parts*="middle"] .tophat-bar-part {
	flex: 1;
}
.TOPHAT_IOS_FLEX_FIX &[data-tophat-parts*="middle"] .tophat-bar-part {
	flex: initial;
}

&[data-tophat-logo="middle"] .tophat-bar-part[data-tophat-align="middle"] .tophat-bar-logo {
	display: none; // centered logo will be handle by javascript => so they remain hidden at startup
}

@import "./compat.scss";