// This content must be include inside a .tophat-bar selector
// see _common.scss for an exemple

@import "./tools-color.scss";
@import "./vars.scss";

position: relative;
padding: 0;
margin: $margin-top 0 $margin-bottom;

display: none;
&.init {
	display: flex;
}

font-family: $ff;
background:$background;
color:$color;

a {
	color:inherit;
}
&,& * {
	box-sizing: border-box;
}

font-size: $base-size;
@media screen and (max-width:980px){ font-size: $base-sizeM; }
@media screen and (max-width:640px){ font-size: $base-sizeS; }

.tophat-bar-part {
	padding: 0;
	margin: 0;

	display: flex;

	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	position: relative;

	.tophat-bar-logo {
		display: block;
		z-index: 10;
		align-self:start;
		padding:0 $nav-link-hpad;
		height: 0;
		// width will be re-set by javascript according to the real image width
		width: $logo-max-size;
		> span {
			top: $logo-vpad;
			position: absolute;
			img, svg {
				max-width: $logo-max-size;
				max-height: $logo-max-size;
			}
			svg {
				height: $logo-max-size;
			}
		}
	}

	> * {
		order:0;
	}

	&[data-tophat-align="left"] {}
	&[data-tophat-align="middle"] {
		flex-wrap: nowrap;
		justify-content: center;
	}
	&[data-tophat-align="right"] {
		margin-left: auto;
		justify-content: flex-end;
		.tophat-bar-logo {
			order:999 !important;
		}
	}

	.nav-item {
		display: inline-block;
		.nav-link {
			white-space: nowrap;
			&.nolink {
				cursor: default;
			}
		}

		@import "./nav-link.scss";
		@import "./nav-dropdown.scss";
		@import "./nav-burger-button.scss";
	}

	.tophat-burger {
		display: none;
		&.visible {
			display: inline-block;
		}
	}
}

&[data-tophat-parts*="middle"] .tophat-bar-part {
	flex: 1;
}

&[data-tophat-logo="middle"] .tophat-bar-logo {
	display: none; // centered logo will be handle by javasdcript => so they remain hidden at startup
	> span {
		left: 50%;
		transform:translateX(-50%);
	}
}

&[data-tophat-logo="right"] .tophat-bar-logo {
	> span {
		right: 0;
	}
}