.nav-dropdown {
	//z-index: 10;
	display: none;
	position: absolute;
	padding: .5em 0;
	margin: 0;
	list-style: none;
	li {
		padding: 0;
		margin: 0;
		>a,
		>span {
			display: block;
			text-decoration: none;
			padding: 0.5em 1em;
			cursor: default;
		}
		>a:hover {
			cursor: pointer;
			color:$color-alt;
		}
		&.active > a, &.hover > a{
			color:$color-alt;
		}
	}
}
&.hover .nav-dropdown {
	display: block;
}

@import "./nav-dropdown/default.scss";
@import "./nav-dropdown/balloon.scss";
@import "./nav-dropdown/panel.scss";
@import "./nav-dropdown/burger.scss";
