> .nav-link {
	display: inline-block;
	text-decoration: none;
}
> .nav-link .label {
	display: block;
	padding: 1em .5em;
}

&[data-tophat-skin="none"] {
}

&[data-tophat-skin="default"] {
	> .nav-link .label {
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color:$color-alt;
	}
}

&[data-tophat-skin="underline"] {
	> .nav-link .label {
		border-top: 3px solid transparent;
		border-bottom: 3px solid transparent;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color:$color-alt;
		border-bottom-color: $color-alt;
	}
}

// Background
&[data-tophat-skin="background"] {
	> .nav-link .label {
		color: $button-color;
		background: $button-background;
		border-top: 3px solid $button-background;
		border-bottom: 3px solid $button-background;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
		border-top: 3px solid $button-alt-background;
		border-bottom: 3px solid $button-alt-background;
	}
}
&[data-tophat-skin="background-alt"] {
	> .nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color: $button-color;
		background: $button-background;
	}
}

// Button (-alt -rounded)
&[data-tophat-skin^="button"] {
	> .nav-link .label {
		color: $button-color;
		background: $button-background;
		line-height: 1em;
		margin: .4em .5em;
		padding: 0.6em .75em;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
	}
}
&[data-tophat-skin^="button-alt"] {
	> .nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
	}
	&.active > .nav-link .label,
	&:hover > a.nav-link .label {
		color: $button-color;
		background: $button-background;
	}
}
&[data-tophat-skin="button"],
&[data-tophat-skin="button-alt"] {
	> .nav-link .label {
		border-radius: .25em;
	}
}
&[data-tophat-skin="button-rounded"],
&[data-tophat-skin="button-alt-rounded"] {
	> .nav-link .label {
		border-radius: 2em;
	}
}