.nav-item {
	// contained in a .nav-item node
	&.tophat-burger {
		.label {
			span {
				opacity: 0;
			}
			padding: 0 !important;
			border-top: 2px solid currentColor;
			border-bottom: 2px solid currentColor;
			transition: all ease-in-out .5s;
			position: relative;
			width: 2em;
			height: 1.5em;
			&::before,
			&::after{
				display: block;
				content:'';
				position: absolute;
				height: 0;
				width:70%;
				top: 50%;
				left: 0;
				border-bottom: 2px solid currentColor;
				transform:translateY(-50%);
				transition: all ease-in-out .5s;
				transform-origin: center center
			}
		}
		&.active .label {
			border-color: transparent;
			&::before {
				transform:translateY(-50%) rotate(45deg);
				width: 100%;
			}
			&::after {
				transform:translateY(-50%) rotate(-45deg);
				width: 100%;
			}
		}

		@media screen and (min-width:981px) {
			&[screen="mobile"] { display: none; }
		}
		@media screen and (max-width:980px) {
			&[screen="desktop"] { display: none; }
		}
	}
}
