> .nav-link {
	display: inline-block;
	text-decoration: none;
}
> .nav-link .label {
	display: block;
	padding: 1em .5em;
}

&[data-tophat-skin="none"] {
}

@import "./nav-link/default.scss";
@import "./nav-link/underline.scss";
@import "./nav-link/background.scss"; // -alt
@import "./nav-link/button.scss"; // -alt -rounded
