$color:#222 !default;
$color-alt:#ff614b !default;
$background:#fff !default;

$button-background:#ff614b !default;
$button-color:#fff !default;
$button-alt-background:#da5340 !default;
$button-alt-color:#fff !default;

$panel-background:#fff !default;
$panel-color:#222 !default;
$panel-color-alt:#ff614b !default;

$logo-max-size : 200px !default;
$base-size:1em !default;
$nav-link-vpad:1em !default;
$nav-link-hpad:1em !default;
$margin-top:0 !default;
$margin-bottom:0 !default;
$font-family:sans-serif !default;