$base-size:1em !default;
$base-sizeL:1em !default;
$base-sizeM:1em !default;
$base-sizeS:1em !default;

$color:#222 !default;
$color-alt:#ff614b !default;
$background:#fff !default;
$ff : inherit !default;
$fw : normal !default;
$ls : normal !default;

$button-background:#ff614b !default;
$button-color:#fff !default;
$button-bordercolor: false !default; // V3
$button-bordersize: false !default; // V3
$button-background-hover: false !default; // V3
$button-color-hover: false !default; // V3
$button-bordercolor-hover : false !default; // V3
$button-ff: false !default; // V3
$button-fsz: false !default; // V3
$button-fw: false !default; // V3
$button-ls: false !default; // V3
$button-vpad:1em !default;
$button-hpad:1em !default;
$button-vpad-mobile:1em !default;
$button-hpad-mobile:1em !default;

$button-alt-background:#da5340 !default;
$button-alt-color:#fff !default;
$button-alt-bordercolor: false !default; // V3
$button-alt-bordersize: false !default; // V3
$button-alt-background-hover: false !default; // V3
$button-alt-color-hover: false !default; // V3
$button-alt-bordercolor-hover : false !default; // V3
$button-alt-ff: false !default; // V3
$button-alt-fsz: false !default; // V3
$button-alt-fw: false !default; // V3
$button-alt-ls: false !default; // V3
$button-alt-vpad:1em !default;
$button-alt-hpad:1em !default;
$button-alt-vpad-mobile:1em !default;
$button-alt-hpad-mobile:1em !default;

$dropdown-background:#fff !default;
$dropdown-color:#222 !default;
$dropdown-hover-background:#ff614b !default;
$dropdown-hover-color:#fff !default;
$dropdown-ff : inherit !default;
$dropdown-fsz : 1em !default;
$dropdown-fw : normal !default;
$dropdown-ls : normal !default;

$panel-background:#fff !default;
$panel-button-background:#f77a74 !default;
$panel-button-color:#fff !default;
$panel-button-hover-background:#ff614b !default;
$panel-button-hover-color:#fff !default;

$nav-height : 0 !default;
$logo-max-size : 200px !default;
$logo-max-vsize : 0 !default; // V3
$logo-vpad : 0 !default;
$margin-top:0 !default;
$margin-bottom:0 !default;
$nav-link-hspace:0 !default;
$nav-link-hpad:1em !default;

$nav-height-mobile : 0 !default;
$logo-max-size-mobile : 200px !default;
$logo-max-vsize-mobile : 0 !default; // V3
$logo-vpad-mobile : 0 !default;
$margin-top-mobile:0 !default;
$margin-bottom-mobile:0 !default;
$nav-link-hspace-mobile:0 !default;
$nav-link-hpad-mobile:1em !default;

$burger-size: 80% !default;
$burger-panel-hpad: 0em !default;
$burger-panel-vpad: 0em !default;
$burger-panel-background: #ffffff !default;

$burger-header-background: #ff614b !default;
$burger-header-color: #ffffff !default;
$burger-header-color-hover: #ffffff !default;
$burger-header-hpad: 1em !default;
$burger-header-vpad: 1em !default;
$burger-header-ff : inherit !default;
$burger-header-fsz : 1em !default;
$burger-header-fw : normal !default;
$burger-header-ls : normal !default;
$burger-header-btn-close : 1 !default;

$burger-body-background: #ffffff !default;
$burger-body-color: #000000 !default;
$burger-body-color-hover: #ff614b !default;
$burger-body-hpad: 1em !default;
$burger-body-vpad: 1em !default;
$burger-body-ff : inherit !default;
$burger-body-fsz : 1em !default;
$burger-body-fw : normal !default;
$burger-body-ls : normal !default;
$burger-body-btn-close : 0 !default;

$burger-body-prepend-ff : inherit !default;
$burger-body-prepend-fsz : 1em !default;
$burger-body-prepend-fw : normal !default;
$burger-body-prepend-ls : normal !default;
$burger-body-prepend-color: #000000 !default;
$burger-body-prepend-color-hover: #ff614b !default;

$burger-body-append-ff : inherit !default;
$burger-body-append-fsz : 1em !default;
$burger-body-append-fw : normal !default;
$burger-body-append-ls : normal !default;
$burger-body-append-color: #000000 !default;
$burger-body-append-color-hover: #ff614b !default;