$color:#222 !default;
$color-alt:#ff614b !default;
$background:#fff !default;
$button-background:#ff614b !default;
$button-color:#fff !default;
$button-alt-background:#da5340 !default;
$button-alt-color:#fff !default;
$logo-max-size : 200px !default;
$base-size:1em !default;