// background
&[data-tophat-skin="background"] {
	> .nav-link .label {
		color: $button-color;
		background: $button-background;
		padding-left:$button-hpad;
		padding-right:$button-hpad;
		border: #{$button-bordersize}px solid $button-bordercolor;
		.label-content {
			font-family:$button-ff;
			font-size:$button-fsz;
			font-weight:$button-fw;
			letter-spacing:$button-ls;
		}
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-color-hover;
		background: $button-background-hover;
		border-color: $button-bordercolor-hover;
	}
}
&[data-tophat-skin="background-alt"] {
	> .nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
		padding-left:$button-alt-hpad;
		padding-right:$button-alt-hpad;
		border: #{$button-alt-bordersize}px solid $button-alt-bordercolor;
		.label-content {
			font-family:$button-alt-ff;
			font-size:$button-alt-fsz;
			font-weight:$button-alt-fw;
			letter-spacing:$button-alt-ls;
		}
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-alt-color-hover;
		background: $button-alt-background-hover;
		border-color: $button-alt-bordercolor-hover;
	}
}