// button (-alt -rounded)
&[data-tophat-skin^="button"] {
	> .nav-link .label {
		color: $button-color;
		background: $button-background;
		line-height: 1em;
		margin: #{$nav-link-vpad * .5} #{$nav-link-hpad * .5};
		padding: #{$nav-link-vpad * .5} #{$nav-link-hpad * .75};
		@media screen and (max-width: 980px) {
			margin: #{$nav-link-vpad-mobile * .5} #{$nav-link-hpad-mobile * .5};
			padding: #{$nav-link-vpad-mobile * .5} #{$nav-link-hpad-mobile * .75};
		}
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-alt-color;
		background: $button-alt-background;
	}
}
&[data-tophat-skin^="button-alt"] {
	> .nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-color;
		background: $button-background;
	}
}
&[data-tophat-skin="button"],
&[data-tophat-skin="button-alt"] {
	> .nav-link .label {
		border-radius: .25em;
	}
}
&[data-tophat-skin="button-rounded"],
&[data-tophat-skin="button-alt-rounded"] {
	> .nav-link .label {
		border-radius: 2em;
	}
}
&[data-tophat-skin="button-square"],
&[data-tophat-skin="button-alt-square"] {
	> .nav-link .label {
		border-radius: 0;
	}
}