// button (-alt -rounded)
&[data-tophat-skin^="button"] {
	> .nav-link .label {
		height: auto;
		color: $button-color;
		background: $button-background;
		padding-top:$button-vpad;
		padding-bottom:$button-vpad;
		padding-left:$button-hpad;
		padding-right:$button-hpad;
		border: #{$button-bordersize}px solid $button-bordercolor;
		.label-content {
			font-family:$button-ff;
			font-size:$button-fsz;
			font-weight:$button-fw;
			letter-spacing:$button-ls;
		}
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-color-hover;
		background: $button-background-hover;
		border-color: $button-bordercolor-hover;
	}
}
&[data-tophat-skin^="button-alt"] {
	> .nav-link .label {
		color: $button-alt-color;
		background: $button-alt-background;
		padding-top:$button-alt-vpad;
		padding-bottom:$button-alt-vpad;
		padding-left:$button-alt-hpad;
		padding-right:$button-alt-hpad;
		border: #{$button-alt-bordersize}px solid $button-alt-bordercolor;
		.label-content {
			font-family:$button-alt-ff;
			font-size:$button-alt-fsz;
			font-weight:$button-alt-fw;
			letter-spacing:$button-alt-ls;
		}
	}
	&.active > .nav-link.react .label,
	&:hover > a.nav-link.react .label {
		color: $button-alt-color-hover;
		background: $button-alt-background-hover;
		border-color: $button-alt-bordercolor-hover;
	}
}
&[data-tophat-skin="button"],
&[data-tophat-skin="button-alt"] {
	> .nav-link .label {
		border-radius: .25em;
	}
}
&[data-tophat-skin="button-rounded"],
&[data-tophat-skin="button-alt-rounded"] {
	> .nav-link .label {
		border-radius: 2em;
	}
}
&[data-tophat-skin="button-square"],
&[data-tophat-skin="button-alt-square"] {
	> .nav-link .label {
		border-radius: 0;
	}
}