.nav-dropdown[data-tophat-skin="panel"] {
	left: 0;
	width: 100%;
	padding: 0;
	background:$panel-background;
	box-shadow: 0 2px 3px 0 rgba(#000,0.3);
	text-align: center;

	&:before {
		position: absolute;
		content:"";
		display: block;
		width: 100%;
		top: 0;
		left: 0;
		border-top:1px solid tool-contrast($panel-background, rgba(#000,0.2), rgba(#fff,0.2));
	}

	//align-items: center;
	justify-content: center;
	flex-wrap:wrap;
	display: flex;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s cubic-bezier(0, 1, 0, 1);

	> li {
		width: 50%;
		padding: 0;
		margin: 0;
		> * {
			padding: 3em 1em;
			transition:background ease 0.5s;
		}
		&.active > * {
			background: rgba($panel-button-background,0.8);
			color: $panel-button-color;
		}
		&:hover > * {
			background: $panel-button-background;
			color: $panel-button-color;
		}
	}
}
&.hover .nav-dropdown[data-tophat-skin="panel"] {
	display: flex;
	max-height: 999px;
	transition: max-height 1s cubic-bezier(.4, .1, .5, 1);
}