.nav-dropdown[data-tophat-skin="panel"] {
	left: 0;
	width: 100%;
	padding: 3em;
	background:$background;
	border-top:1px solid tool-contrast($background, rgba(#000,0.2), rgba(#fff,0.2))
}
&.hover .nav-dropdown[data-tophat-skin="panel"] {
	display: flex;
}